<template>
  <header id="header" class="fixed top-0 z-10 min-w-full flex items-center justify-between h-20 px-4">
    <img src="~/assets/images/tesla-9.svg" class="w-28 h-8" alt="">
    <div class="flex items-center justify-between max-w-fit gap-x-3.5 rounded-md flex hidden lg:flex">
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Model S</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Model 3</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Model X</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Model Y</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Solar Roof</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-3 rounded-2xl">
          Solar Panels</p>
      </nuxt-link>
    </div>
    <div class="flex items-center justify-between max-w-fit gap-x-3.5 rounded-md">
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-2 rounded-2xl hidden lg:flex">
          Shop</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-2 rounded-2xl hidden lg:flex">
          Account</p>
      </nuxt-link>
      <nuxt-link to="/">
        <p
          class="text-gray-900 font-semibold text-sm hover:bg-gray-200 duration-300 cursor-pointer ease-linear py-1 px-2 rounded-2xl bg-gray-200 lg:bg-transparent">
          Menu</p>
      </nuxt-link>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style>
</style>